div.gallery{
float: left;
margin: 5px;
width: 200px;
border: 1px solid greenyellow;
}

div.gallery:hover{
    border: 1px solid red;
}

div.gallery a img{
    width: 100%;
    height: auto;
}
div.desc{
    padding: 5px;
    text-align: center;
}

